
{% block footer %}
    <div class="row">
        <div class="container foot">
            <div class="row">
                <div class="col m4">
                    <ul>
                        <li><a href="#">News and Press</a></li>
                    </ul>
                </div>
                <div class="col m4">
                    <ul>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col m4">
                    <ul>
                        <li>
                            <a href="#">Something Else</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock footer %}
